<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHHwRa2LFs8DOfVQqvJkUaBOl1kj0kk2U</string>
	<key>GCM_SENDER_ID</key>
	<string>180463119032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uagro.app</string>
	<key>PROJECT_ID</key>
	<string>uagrotrade-d02d8</string>
	<key>STORAGE_BUCKET</key>
	<string>uagrotrade-d02d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180463119032:ios:b42703ef303734f903624d</string>
</dict>
</plist>